body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #f0f0f0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  box-shadow: 0px 0px 10px 0px #000;
}
.header a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
}
