body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup-form {
  width: 50%; /* Reduce the width of the form container */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}
.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="file"] {
  width: 95%; /* Reduce the width of the input fields */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.signup-form input[type="submit"] {
  width: 98%; /* Reduce the width of the submit button */
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #007bff;
}
.signup-form input[type="submit"]:hover {
  background-color: #0d67c8;
  cursor: pointer;
}
.message {
  color: red;
  margin-bottom: 10px;
}

/* ......media query....... */

@media screen and (max-width: 980px) {
  .signup-form {
    width: 65%;
  }
}

@media screen and (max-width: 680px) {
  .signup-form {
    width: 62%;
    height: 69%;
  }
  .signup-heading {
    margin-top: 23px;
    margin-bottom: 34px;
  }
  .signup-form input[type="text"],
  .signup-form input[type="email"],
  .signup-form input[type="password"],
  .signup-form input[type="file"] {
    margin-bottom: 43px;
  }
}

@media screen and (max-width: 550px) {
  .signup-form {
    width: 81%;
    height: 69%;
  }
}
